.AccountPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header{
    color: #0055ff;
    margin-left: 2%;
    font-size: xx-large;
}

.input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

.info{
    background-color: #35a2e5;
    text-align: left;
    font-size: xx-large;
    border-radius: 1rem;
    margin: 2%;
    padding: 0.75%;
    list-style-type: none;
    cursor: pointer;
}